html {
    max-width:100ch;
    padding:2ch;
    margin:auto;
    font-size:1.2em;
    font-family:"Comic Sans MS";
    background-color: rgb(35, 67, 77);
  }

body {
  background-color:rgb(144, 168, 177);
  border:10px transparent;
  border-radius:25%;
  padding:50px;
  color: rgb(63, 42, 19);
}

input {
  padding: 5px;
  margin: 3px;
  border-radius: 50px;
  border: 1.5px solid;
  border-color: rgb(63, 42, 19);
  text-align:center;
  justify-content: space-evenly;
}

button {
  margin-top:20px;
  font-size:20px;
  border: 1px solid;
  border-radius: 1px;
}

div {
  text-align:center;
}

h3 {
  text-align:center;
}

b {
  color:darkred;
}